apiVersion: 1
datasources:
  - name: prometheus-us-east-1
    uid: prometheus__us-east-1
    type: prometheus
    access: proxy
    orgId: 1
    url: http://prometheus:9090
    isDefault: true
    version: 1
    editable: false